@import './variables';


.text__title{
    color: $Nutmeg;
}
.text__element{
 color: $DarkRaspberry;
}

.text__elementItem{
    color: $DarkCharcoal;
}

.text__{
    color: $WengeBrown;
}
.Div__background{
    background: $RoseWhite;
}