.__paragraphFontSize{
    font-size:  16px;
}

.font_45{
        font-size: 45px;
}
.font_32{
    font-size: 30px;
}
.Primary__font{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;

}

.secondary__font{
    font-family:"Outfit", sans-serif
}
